@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap");

:root {
    --red-border: #d32f2f;
    --red-bg: #c80202b3;
    --red-hover: #ffffff51;
    --font-primary: "Exo 2", sans-serif;
    --md-radius-small: 8px;
    --md-radius-large: 16px;
}


* {
    padding: 0;
    margin: 0;
    font-family: var(--font-primary);
    box-sizing: border-box;
}


#container {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 320px;
    background: transparent;
    border: 2px solid var(--red-border);
    border-radius: var(--md-radius-large);
    overflow: hidden;
    z-index: 1000;

    display: none; 
    transition: all 0.3s ease-in-out;
}


#container.active {
    display: block;
    box-shadow: 0 0 8px rgba(220, 61, 61, 0.5), 
                0 0 18px rgba(255, 80, 80, 0.25);
}


#buttons {
    max-height: 75vh;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    background: transparent;
}


.button {
    cursor: pointer;
    background: var(--red-bg);
    color: #fff;
    margin-top: 0.5rem;
    padding: 0.8rem;
    border-radius: var(--md-radius-small);
    display: flex;
    flex-direction: column;

    
    box-shadow: 0 0 6px rgba(243, 59, 59, 0.4), 
                0 0 15px rgba(226, 51, 51, 0.25), 
                inset 0 0 3px rgba(255,255,255,0.15);

    text-shadow: 0 0 5px rgba(240, 56, 56, 0.5), 
                 0 0 12px rgba(255,0,0,0.25);

    transition: all 0.2s ease-in-out;
}

.button:hover {
    background: var(--red-hover);
    transform: scale(0.95);

   
    box-shadow: 0 0 12px rgba(163, 0, 0, 0.7), 
                0 0 25px rgba(255, 255, 255, 0.4), 
                inset 0 0 6px rgba(255,255,255,0.2);

    text-shadow: 0 0 10px rgba(243, 69, 69, 0.7), 
                 0 0 18px rgba(255, 255, 255, 0.4);
}


.title {
    background: transparent;
    color: #fff;
    margin-top: 0.5rem;
    padding: 0.8rem;
    border-radius: var(--md-radius-small);
    border-bottom: 3px solid var(--red-border);
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;

    
    text-shadow: 0 0 8px rgba(247, 88, 88, 0.6), 
                 0 0 18px rgba(241, 61, 61, 0.35);

    box-shadow: 0 0 8px rgba(239, 68, 68, 0.4);
}


div > .text {
    font-size: 14px;
    color: #fff;
}

div > .header {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}


.disabled {
    background: transparent !important;
    color: #888;
    cursor: default;
    text-shadow: none !important;
}


::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #0a080b; }
::-webkit-scrollbar-thumb { background: var(--red-border); }
